/* Apartat dels estils generals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    margin: 0 auto;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#all {
    padding: 1.6rem;
    margin-bottom: 7.5rem;
}

h2 {
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: black;
}

p {
    font-family: "Jost", sans-serif;
    font-size: 1.6rem;
    color: black;
}


/* Apartat del header y nav */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    height: auto;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

#direccion{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

#direccion p {
    font-size: 1.6rem;
    font-weight: bold;
}

#direccion i{
    font-size: 1.6rem;
    color: black;
}

#metodo {
    display: flex;
    flex-direction: row;
    background-color: #b0adad;
    border-radius: 1.6rem;
    padding: 5px;
    align-items: center;
}

.entrega {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    background-color: white;
    border-radius: 1.6rem;
    padding: 5px;
}

.entrega p {
    cursor: pointer;
    font-size: 1.2rem;
}

.entrega i {
    color: #f47318;
    font-size: 1.2rem;
}

.desactivado {
    background: transparent;
}

.desactivado p {
    display: none;
}

.desactivado i {
    color: black;
}


/* Apartat del header y nav */
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.5rem;
}

#apartat-buscador{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

#apartat-buscador i {
    color: #eb6c11;
    font-size: 1.5rem;
}

#buscador {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem;
    background-color: #efedea;
    border-radius: 1.6rem;
    gap: 1rem;
    align-items: center;
}

#buscador i {
    color: #eb6c11;
    font-size: 1.5rem;
}

#buscarLocal {
    color: black;
    background: none;
    border: none;
    font-size: 1.6rem;
    width: 100%;
}


/* Apartat del main */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


/* Apartat section - opcions */
#opciones {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#categorias-ver {
    display: flex;
    justify-content: space-between;
}

#categorias-ver p {
    font-weight: 700;
}

#categorias-ver a {
    font-weight: 600;
    font-family: "Jost", sans-serif;
    font-size: 1.6rem;
    color: black;
}

#ver-opciones {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.opcion {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.opcion a {
    text-decoration: none;
}

#escalarimg1 img {
    width: 8rem;
    height: 8rem;
    background-color: #ff8000;
    object-fit: cover;
    border-radius: 40%;
}

#escalarimg1 {
    width: 100%;
}

#escalarimg2 img {
    width: 8rem;
    height: 8rem;
    background-color: #5b3d5b;
    object-fit: cover;
    border-radius: 40%;
}

#escalarimg2 {
    width: 100%;
}

#escalarimg3 img {
    width: 8rem;
    height: 8rem;
    background-color: #f75e28;
    object-fit: cover;
    border-radius: 40%;
}

#escalarimg3 {
    width: 100%;
}

#escalarimg4 img {
    width: 8rem;
    height: 8rem;
    background-color: #f6c143;
    object-fit: cover;
    border-radius: 40%;
}

#escalarimg4 {
    width: 100%;
}

.opcion p {
    font-family: "Jost", sans-serif;
}


/* Apartat section - ofertas */
#ofertas {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.oferta {
    display: flex;
    flex-direction: row;
    background-color: #f6c243;
    padding: 5px 3px 0 1rem;
    border-radius: 16px;
    justify-content: space-between;
    width: 100%;
}

.info-oferta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-oferta p {
    font-size: 1.6rem;
}

#ofertas img {
    margin-bottom: 8px;
    width: 10rem;
}


/* Apartat section - locales */
#locales {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

#pedir-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#pedir-info h2 {
    font-family: "Jost", sans-serif;
}

#pedir-info i {
    margin-right: 4px;
    margin-left: 3px;
    color: #000000;
    font-size: 1.5rem;
}

.local {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
}

.local .banner {
    position: relative;
    width: 100%;
    height: 200px;
}

.banner-local {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.6rem 1.6rem 0 0;
}

.icon-local {
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 1.6rem;
}

.info-local {
    padding: 1.2rem;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.info-local p {
    font-size: 1.6rem;
    color: #242e30;
    font-weight: 800;
}

.datos-local {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.valoracion {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.valoracion i {
    margin-right: 4px;
    color: #f36805;
    font-size: 1.5em;
}

.valoracion p {
    font-size: 1.4rem;
    color: #3C4C4F;
    font-weight: normal;
}


.tipo-venta p {
    font-size: 1.4rem;
    color: #3C4C4F;
    font-weight: normal;
}

.distancia {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.distancia i {
    margin-right: 4px;
    margin-left: 3px;
    color: #3C4C4F;
    font-size: 1.5rem;
}

.distancia p {
    font-size: 1.4rem;
    color: #3C4C4F;
    font-weight: normal;
}

.descuento {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.descuento i {
    color: #3C4C4F;
    font-size: 1.5rem;
    background-color: #f6c243;
    border-radius: 50%;
    padding: 3px;
}

.descuento p {
    font-size: 1.4rem;
    color: #3C4C4F;
    font-weight: normal;
}


/* Footer */
footer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

#opcion-enlace {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.casilla {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.casilla a {
    text-decoration: none;
}

.casilla i {
    color: #3C4C4F;
    font-size: 3rem;
}

.casilla p {
    text-align: center;
}

.casilla:first-child i {
    color: #f36805;
}